@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  color: #333333;
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

footer {
  margin-top: 16px;
  padding: 16px 0;
  color: #888888;
  border-top: 1px solid #eeeeee;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  color: #3c3c3c;
  margin-bottom: 16px;
}

header a {
  margin-right: 16px;
  text-decoration: none;
  color: #888888;
}

.potrait {
  width: 250px;
  height: 250px;
}
